.card {
    display: inline-block;
    text-align: center;
    width: 3em;
    font-size: 2em;
    box-shadow: 0 4px 8px 0 greenyellow;
    margin: 1em;
    user-select: none;
   }

   .activeCard{
       color: white;
       background: black;
   }

   .h1{
       size: 50px;
   }